<div id="left">
  <div id="items">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
      </thead>
      <% Item.all.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td><%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
          </tr>
      <% end %>
    </table>
  </div>
  <div id="totals">
    Totals
  </div>
</div>

<div id="right">
  <div id="search">

  </div>
  <div id="numpad">
    <div id="numpad-7" class="num">
      <button type="button" class="btn btn-info keypad">7</button>
    </div>
    <div id="numpad-8" class="num">
      <button type="button" class="btn btn-info keypad">8</button>
    </div>
    <div id="numpad-9" class="num">
      <button type="button" class="btn btn-info keypad">9</button>
    </div>
    <div id="numpad-4" class="num">
      <button type="button" class="btn btn-info keypad">4</button>
    </div>
    <div id="numpad-5" class="num">
      <button type="button" class="btn btn-info keypad">5</button>
    </div>
    <div id="numpad-6" class="num">
      <button type="button" class="btn btn-info keypad">6</button>
    </div>
    <div id="numpad-1" class="num">
      <button type="button" class="btn btn-info keypad">1</button>
    </div>
    <div id="numpad-2" class="num">
      <button type="button" class="btn btn-info keypad">2</button>
    </div>
    <div id="numpad-3" class="num">
      <button type="button" class="btn btn-info keypad">3</button>
    </div>
    <div id="numpad-0" class="num">
      <button type="button" class="btn btn-info keypad">0</button>
    </div>
  </div>
</div>
