<div class="page-header">
  <h1>Welcome to MarkeTT<span class="os">OS</span></h1>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Select Area:</h2>
  </div>
  </br>
</div>
<div class="row">
  <div class="col-md-6">
    <%= link_to 'Products', items_path, class: 'btn btn-primary btn-lg' %>
  </div>
  <div class="col-md-6">
    <%= link_to 'Users', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= link_to 'Categories', items_path, class: 'btn btn-primary btn-lg' %>
  </div>
  <div class="col-md-6">
    <%= link_to 'Purchase', purchases_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
