#left{
  height: 650px;
  width: 570px;
  position: fixed;

}
#items{
  height: 550px;
  width: 570px;
  position: fixed;
  overflow-y: auto;
}

#totals{
  margin-top: 550px;
  height: 100px;
  width: 570px;
  position: fixed;
}

#right{
  height: 650px;
  width: 570px;
  margin-left: 570px;
  position: fixed;
}

#search{
  border: 1px solid black;
  height: 400px;
  width: 570px;
  float: left;
}

#numpad{
  margin-top: 400px;
  height: 250px;
  width: 570px;
  position: fixed;
}
.num{
  text-align: center;
}
#numpad-0{
  margin-left: 190px;
  margin-top: 186px;
  height: 64px;
  width: 190px;
  position: fixed;
}
#numpad-3{
  margin-left: 380px;
  height: 62px;
  width: 190px;
  position: fixed;
}
#numpad-2{
  margin-left: 190px;
  height: 62px;
  width: 190px;
  position: fixed;
}
#numpad-1{
  height: 62px;
  width: 190px;
  position: fixed;
}
#numpad-6{
  margin-top: 62px;
  margin-left: 380px;
  height: 62px;
  width: 190px;
  position: fixed;
}
#numpad-5{
  margin-top: 62px;
  margin-left: 190px;
  height: 62px;
  width: 190px;
  position: fixed;
}
#numpad-4{
  margin-top: 62px;
  height: 62px;
  width: 190px;
  position: fixed;
}
#numpad-9{
  margin-top: 124px;
  margin-left: 380px;
  height: 62px;
  width: 190px;
  position: fixed;
}
#numpad-8{
  margin-top: 124px;
  margin-left: 190px;
  height: 62px;
  width: 190px;
  position: fixed;
}
#numpad-7{
  margin-top: 124px;
  height: 62px;
  width: 190px;
  position: fixed;
}

.keypad{
  margin-top: 5px;
  padding-bottom: 15px;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 15px;
}

